@import 'https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;400&display=swap';
* {
  padding: 0;
  margin: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #473253;
}

.about-block {
  text-align: center;
  color: aliceblue;
  margin: 20px auto auto;
  font-family: "Work Sans", sans-serif;
  font-size: 23px;
}

.carousel-container {
  width: 50%;
  border: 5px solid black;
  overflow: hidden;
  position: relative;
  margin-top: 40px;
}

.carousel-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 500px;
}

#prev-btn {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 5%;
  font-size: 20px;
  color: wheat;
  opacity: 1;
  cursor: pointer;
}

#next-btn {
  position: absolute;
  z-index: 10;
  top: 50%;
  right: 5%;
  font-size: 20px;
  color: wheat;
  opacity: 1;
  cursor: pointer;
}