@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;400&display=swap');

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Work Sans', sans-serif;
    background: #222;
    background-image: url('https://source.unsplash.com/1600x900/?landscape');
    font-size: 120%;
}

.main-container__card {
    background: #000000d0;
    color: white;
    padding: 2em;
    border-radius: 30px;
    width: 100%;
    max-width: 420px;
    margin: 1em;
}

.weather__desc {
    text-transform: capitalize;
}

.weather__icon {
    display: flex;
    align-items: center;
}
.search-bar {
    display: flex;
    font-size: 90%;
    align-items: center;
    justify-content: center;
    margin: 0.4em;
    padding: 1em;
    border-radius: 18em;
    border: none;
    outline: none;
    width: calc(100% - 65px);
}

.search-bar__container {
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    border-radius: 50%;
    outline: none;
    border: none;
    width: 42px;
    height: 42px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

button:hover {
    background: #7c7c7c8b;
}

.h1.temp {
    margin: 0 0 0.3em;
}

.weather-container.loading {
    visibility: hidden;
    max-height: 20px;
    position: relative;
}

.weather-container.loading:after {
    visibility: visible;
    content: "For viewing current weather in your area please type name of the city in the search-bar";
    font-size: 17px;
    color: white;
    position: absolute;
    top: 0;
    left: 20px;
}