@import 'https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;400&display=swap'
*
  padding: 0
  margin: auto
  box-sizing: border-box

body
  //background-image: url('../img/cyberpunk-bg.png')
  //background-color: #0e0737
  background: linear-gradient(-45deg, #ee7752, #661434, #23a6d5, #23d5ab)
  background-size: 400% 400%
  animation: gradient 15s ease infinite

.about-block
  text-align: center
  margin: 20px auto auto
  font-family: 'Work Sans', sans-serif
  font-size: 23px
  display: flex
  align-items: center
  justify-content: center

.hero-headline
  background: radial-gradient(#ffffff, #0e0737)
  -webkit-background-clip: text

  -webkit-text-fill-color: transparent
  margin: 0
  font-size: 3.9rem

.carousel-container
  width: 50%
  border: 2px solid #000000
  overflow: hidden
  position: relative
  margin-top: 40px

.carousel-slide
  display: flex
  width: 100%
  height: 500px

#prev-btn
  position: absolute
  z-index: 10
  top: 50%
  left: 5%
  font-size: 20px
  color: wheat
  opacity: 1
  cursor: pointer

#next-btn
  position: absolute
  z-index: 10
  top: 50%
  right: 5%
  font-size: 20px
  color: wheat
  opacity: 1
  cursor: pointer

.long-arrow-right,
.long-arrow-left
  display: block
  margin: 30px auto
  width: 25px
  height: 25px
  border-top: 2px solid #f6f6f6
  border-left: 2px solid #f6f6f6

.long-arrow-right
  transform: rotate(135deg)

.long-arrow-left
  transform: rotate(-45deg)

.long-arrow-right::after,
.long-arrow-left::after
  content: ""
  display: block
  width: 2px
  height: 45px
  background-color: wheat
  transform: rotate(-45deg) translate(15px, 4px)
  left: 0
  top: 0

.site-footer
  background-color: #838383
  text-align: center
  margin: 10px 0
  padding: 10px 0

#social-wrapper
  text-align: center

.social-wrapper
  text-align: center

.social-wrapper ul li
  display: inline
  margin: 0 5px

.github-icon,
.facebook-icon,
.instagram-icon,
.linkedin-icon,
.googleplus-icon,
.youtube-icon,
.foursquare-icon
  margin-top: .1em
  width: 25px
  height: 25px
  opacity: .9

  border-radius: 25px

.github-icon:hover,
.facebook-icon:hover,
.instagram-icon:hover,
.linkedin-icon:hover,
.googleplus-icon:hover,
.youtube-icon:hover,
.foursquare-icon:hover
  opacity: 1.0
  filter: alpha(opacity=100)

#footer
  position: fixed
  bottom: 0
  width: 100%
  height: 30px
  background: #4e9949
  text-align: center